################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/SDLProject/.vs/SDLProject/v16/ipch/AutoPCH/1e2a6722d5247d74/CHARACTER.ipch

*.vs
*.log
*.tlog
**/Debug/